<ul class="list-group list-group-flush ">
    <li class="list-group-item"><a href="/received" id="recvdNotesLink">Received</a></li>
    <li class="list-group-item"><a href="/sent" id="sentNotesLink">Sent</a></li>
    <li class="list-group-item"><a href="/sendthanks" id="sendThanksLink">Send Thanks</a></li>
</ul>