<link rel='stylesheet' type='text/css' href='/css/profile.css' />
<header>
    {{> userprofile-header}}
</header>
<main style="height: 100%">
    <section>
        <img class="center" alt="404 not found" src="/images/404.png">
    </section>
</main>

<script src="/js/logout.js"></script>