 <div class="container">
        <h1>404</h1>
        <p>Oops! The page you’re looking for doesn’t exist.</p>
        <p><a href="/">Go back to the homepage</a></p>
        <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Return to Login</button>
    </div>