<link rel='stylesheet' type='text/css' href='/css/profile.css' />
<header>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
            <a class=" navbar-brand grey-qo-regular" style="font-size: 48px" href="/">BraviSSimo</a>
            <div class="navbar-nav">
                <a class="nav-link" id="logout" href="#">Logout</a>
            </div>
        </nav>
    </section>
</header>
<section>
    <img class="center" alt="404 not found" src="/images/404.png">

</section>
<script src="/js/logout.js"></script>