<div class="container">
    <h1>Create An Account</h1>
    <form id="ceateanaccountform">
        <div class="form group">
            <label for="FirstName">First Name</label>
            <input type="text" id="FirstName" name="FirstName" required>
            <div class="" error" id="" FirstNameError"></div>
        </div>
        <div class="form group">
            <label for="LastName">Last Name</label>
            <input type="text" id="LastName" name="LastName" required>
            <div class="error" id="LastNameError"></div>
        </div>
        <div class="form group">
            <label for="Email">Enter your Email</label>
            <input type="email" id="email" name="email" required>
            <div class="error" id="EmailError"></div>
        </div>
        <div class="form-group">
            <label for="Password">Enter your Password</label>
            <input type="password" id="password" name="password" required>
            <div class="error" id="PsswordError"></div>
        </div>
         <div class="form-group">
                <button type="submit">Create</button>
        </div>
         <div class="form-group">
                <button type="submit">Cancel</button>
        </div>
    </form>
</div>