<header>
  <div class="container-fluid justify-content-center p-0">
    <nav class="navbar navbar-expand-lg border-bottom border-dark">
      <div class="container-fluid justify-content-center">
        <span class="navbar-brand mb-0 h1 px-3 grey-qo-regular" style="font-size: 4rem">BraviSSimo</span>
      </div>
    </nav>
  </div>
  <div id="tagline" class="container-fluid text-center">
    <div class="row">
      <div class="col">
        <h1 style="font-size: 4rem; letter-spacing: -1px">Building a community of appreciation <br> one thanks at a
          time.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="mt-4" style="font-size: 1.5rem">BraviSSimo lets you send and receive thank you notes with ease.
          <br>Express gratitude, celebrate
          kindness,
          and
          strengthen connections.<br> Join us in building a community where every 'thank you' counts.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#login">
          <div class="arrow bounce"></div>
        </a>
      </div>
    </div>
  </div>
  <div id="hands" class="container-fluid  text-center">
    {{!-- <img src="/images/hands_cropped.png" alt="hands" /> --}}
  </div>
</header>
<main>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <!-- <div class="col-md-6 justify-content-center"> -->
        <div id="alertMsgContainer"></div>
        <div id="login">
          <form id="loginForm">
            <div>
              <label for="email" style="font-weight:bolder">Email</label>
              <input type="email" class="form-control" id="emailId" placeholder="Your email..">
            </div>
            <div>
              <label for="password" class="mt-3" style="font-weight:bolder">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Your password..">
            </div>
            {{!-- <label for="email" style="font-weight:bolder">Email</label>
            <input type="text" id="emailId" name="email" placeholder="Your email.."> --}}

            {{!-- <label for="password" style="font-weight:bolder">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password.."> --}}
            <button type="submit" style="width:100%" class=" btn btn-primary">Login</button>
            <div class="text-center">
              <p class="mt-1">New to BraviSSimo? <a href="/register">Create an account.</a></p>
            </div>
          </form>
        </div>
        <!-- </div> -->
      </div>
    </div>
</main>
<script src="/js/util.js"></script>
<script src="/js/home.js"></script>