<h1>Login</h1>
  <form id="loginForm" method="POST" action="/api/user/login">
     <label for="emailId">Email</label>
    <input type="email" id="emailId" name="emailId" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
  </form>

  <p>Don't have an account? <a href="/register">Register here</a>.</p>

  <script src="../public/home.js"></script>