<link rel='stylesheet' type='text/css' href='/css/profile.css' />
<header>
    <!-- TODO: Logout and username -->
    <div class="container-fluid p-0 " id="headerContainer">
        <nav class="navbar navbar-light justify-content-between">
            {{!-- <a class="navbar-brand px-2" style="font-size: 3.0vmin;">BraviSSimo</a> --}}

            <div>
                <span style="padding: 0, margin: 0" class="letters">B</span>
                <span class="letters">r</span>
                <span class="letters">a</span>
                <span class="letters">v</span>
                <span class="letters">i</span>
                <span class="letters">S</span>
                <span class="letters">S</span>
                <span class="letters">i</span>
                <span class="letters">m</span>
                <span class="letters">o</span>
            </div>

            <a class="navbar-brand py-2" style="font-size: 1.8vmin;" id="logout">Logout</a>
            {{!-- <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> --}}
        </nav>
    </div>

</header>
<main>
    <div id="mainContainer" class="container custom-container mt-5 mb-5 custom-gutter">
        <div class="row">
            <div class="col-sm-12 col-md-2 p-md-4 p-sm-2">
                <div class="w-lg-100 p-2 w-md-80 w-sm-100" id="profileImg">
                </div>
            </div>
            <div class="col-md-9 col-sm-12 p-md-4 p-sm-2">
                <div id="welcome">
                    <h3><span id="user"></span></h3>
                    <span id="recvdNotes"></span>
                    <i data-toggle="tooltip" data-placement="bottom" title="Received" class="fa-solid fa-heart">
                    </i>
                    <span id="sentNotes"></span> <span data-toggle="tooltip" data-placement="top" title="Sent">🎁</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-2 p-sm-2 ">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item"><a href="#" id="recvdNotesLink">Received</a></li>
                    <li class="list-group-item"><a href="#" id="sentNotesLink">Sent</a></li>
                    <li class="list-group-item"><a href="#" id="sendThanksLink">Send Thanks</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-9">
                <div id="alertMsgContainer"></div>
                <div class="mb-2 " id="dataContainer">
                </div>
                <div id="sendThanksContainer">
                    <form id="sendThanksForm">
                        <div>
                            <label for="receiver" style="font-weight:550">User</label>
                            <input type="text" class="form-control w-75" id="receiver" placeholder="Search user..">
                        </div>
                        <div class="mt-3">
                            <label for="template" style="font-weight:550">Choose a template</label>
                            <div id="template" class="d-flex flex-row">
                                <div id="img0" class="me-2" data-img=""></div>
                                <div id="img1" class="me-2" data-img="/images/thankyou_template_1.jpg"></div>
                                <div id="img2" class="me-2" data-img="/images/thankyou_template_2.jpeg"></div>
                                <div id="img3" class="me-2" data-img="/images/thankyou_template_3.jpeg"></div>
                                <div id="img4" class="me-2" data-img="/images/thankyou_template_4.jpg"></div>
                                <div id="img5" class="me-2" data-img="/images/thankyou_template_5.jpg"></div>
                                <div id="img6" data-img="/images/thankyou_template_6.jpg"></div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <label class="font-weight-bold" style="font-weight:550" for="thankyounote">Message</label>
                            <textarea class="form-control text-dark" id="thankyounote" rows="10"
                                placeholder="Enter your message.."></textarea>
                            <div class="d-grid gap-2 col-6 mx-auto mt-3">
                                <button type="submit" class="float-end mt-2 btn btn-primary mb-2">Send
                                    Thanks</button>
                                <button type="button" id="reset" class="float-end btn btn-primary mb-1">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{{!-- <footer class="mt-5 border border-top" style="background-color: rgb(249,249,249); background-image: none"
    class="mt-5 h-23 d-flex align-items-center justify-content-center">
    <div class="text-center ">

        <p class="lh-1 p-5 text-dark font-weight-bold" style="font-weight: bolder"><i class="fa-solid fa-minus"></i><i
                class="fa-solid fa-minus"></i><i class="fa-solid fa-minus"></i><i class="fa-solid fa-minus"></i><i
                class="fa-solid fa-minus"></i>BraviSSimo<i class="fa-solid fa-minus"></i><i
                class="fa-solid fa-minus"></i><i class="fa-solid fa-minus"></i><i class="fa-solid fa-minus"></i><i
                class="fa-solid fa-minus"></i></p>
    </div>
</footer> --}}
<script src="/js/profile.js"></script>

{{!-- d-flex justify-content-center align-items-center --}}