<div class="card">
    <form id="userprofileform"></form>
    {{!-- <img src="img.jpg" alt="John" style="width:100%"> --}}
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Recieved</button>
    <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Sent</button>
    <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Send Thanks</button>
</div>
<script src="./js/profile.js"></script>