
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4fa; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

  }
  
  .register-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background: url('/images/hands.png') no-repeat bottom center;
    background-size: cover;
  }
  
  .register-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-label {
    font-weight: bold;
    justify-content: left;
  }
  
  .btn-primary {
    background-color: #6c757d;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #5a6268;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border: none;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  } 
   

  footer {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    color: #666;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  

